.hero{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.remote{
    width: 40%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 19px;
    margin-bottom: 30px;
}

.btn{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.image {
    
    img{
        width: 300px;
    }
}